

@media screen and (max-width: 768px) {
    .lione-div {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .footer .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: normal;
    }

    .container {
        width: 100%;
    }

    .footer {
        width: 320px;
    }

    .firstdiv-foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 16px 72px;
        width: 288px;
    }

    .foot-cont-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .soc-med {
        display: flex;
        justify-content: center;
    }

    .foot-form {
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;
    }

    .email-foot {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 72px;
    }

    .foot-label {
        margin-left: 0px;
    }

    .sub-label {
        margin-left: 0;
    }

    .foot-inp {
        width: 288px;
    }

    .foot-subs {
        width: 165px;
    }

    body {
        width: 320px;
    } 

    .ulone {
        display: flex;
        flex-direction: column;
        width: 320px;
    }

    .bank {
        width: 288px;
    }

    .mark {
        width: 264px;
    }

    .ul-ourteam {
        display: flex;
        flex-direction: column;
        row-gap: 72px;
        margin: 0;
        width: 264px;
    }

    .section-three .container {
        padding: 0 24px;
    }

    .section-two, .section-three, .section-four {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .ourteam-ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 72px;
    }

    .lione {
        width: 100%;
    }

    .strategy {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        justify-content: center;
        display: flex;    
    }

    .section {
        background-size: cover;
        background-position: center;
        padding: 72px 0;
    }

    .sect-hone {
        margin: 72px 0;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
    }

    .header {
        width: 320px;
    }

    .nav-menu {
        display: none;
    }

    .address {
        display: none;
    }

    .modal-absol {
        width: 288px;
        padding: 72px 16px 24px;
    }

    .label-privacy {
        display: flex;
    }

    .header-three-lines {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width: 321px) {
    .header-three-lines {
        visibility: hidden;
        opacity: 0;
    }
}